.title{
    text-align: center;
}
.taskContent.completed {
    text-decoration: line-through;
    color: grey;
}
.taskFilter{
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.clear-task-container{
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.undo-btn{
    width: 30%;
    margin-top: 2em;
}

.left-icon{
    padding:0 2px;
    width: 2em;
}

.undo-redo-space{
    display: flex;
    justify-content: center;
}